@import url(./buttons.css);

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --Width-header: 4.8in;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: auto;
  font-size: 16px;
  color: #1a1a1a;
  background-image: url('https://i.postimg.cc/8Cc9JfLp/04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 1fr 4.5in 1fr;

  grid-template-areas:
    'header header header'
    '. codigo .'
    'trash main filtros'
    'footer footer footer';

  > header {
    grid-area: header;
    grid-column: 2/3;
  }

  > .codigo-container {
    grid-area: codigo;
  }

  > main {
    grid-area: main;
  }

  > .trash-container {
    grid-area: trash;
  }

  > .filters {
    grid-area: filtros;
  }

  > footer {
    grid-area: footer;
  }
}

@media (width < 600px) {
  .grid-container {
    grid-template-areas:
      'header header header'
      ' .codigo .'
      '. trash .'
      '. main .'
      '. filtros .'
      '. footer .';
  }

  body {
    background-repeat: repeat-y;
  }
}

header {
  width: var(--Width-header);

  h1 {
    width: 100%;
    text-wrap: nowrap;

    text-shadow: 0 0 0.2em rgba(0, 153, 255, 0.379), 0 0 0.2em rgba(0, 153, 255, 0.379),
      0 0 0.2em rgba(0, 153, 255, 0.379);
    padding-bottom: 8px;
  }

  .dropdown-container {
    padding-bottom: 40px;

    .dropdown-container-list {
      display: flex;
      gap: 8px;

      li {
        list-style: none;
      }

      li a {
        padding: 5px 10px;
        text-decoration: none;
      }

      .selected {
        background-color: #212529;
      }

      a:hover.selected {
        background-color: #0c0c0c;
      }
    }
  }
}

.codigo-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;

  h2 {
    font-weight: normal;
    font-size: 1.2rem;
    text-shadow: #222 0.1em 0.1em 0.2em;
  }

  form.barcodeData {
    width: 4in;
    max-width: 4in;
    box-shadow: inset 0 0 0 1px #d2d2d2;

    background-color: rgb(255, 255, 255, 0.35);
    padding: 6px;
  }

  .editor-label {
    text-size-adjust: none;
    font-family: Source Sans Pro, Arial, sans-serif;
    color: #1a1a1a;
    font-size: 9pt;
    line-height: 12pt;
    outline: none;
    padding: 4px;

    white-space: nowrap;
    color: gray;
  }

  .editor-field {
    text-size-adjust: none;
    font-family: Source Sans Pro, Arial, sans-serif;
    color: #1a1a1a;
    font-size: 9pt;
    line-height: 12pt;
    outline: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    textarea {
      text-size-adjust: none;
      margin: 0;
      overflow: auto;
      vertical-align: top;
      padding: 4px;
      border: 0;
      box-shadow: inset 0 0 0 1px #d2d2d2;
      box-sizing: border-box;
      resize: none;
      width: 100%;
      height: 100px;
      background-color: #fffdfd61;
    }
  }

  .barcodeRefresh {
    line-height: 20px;
    text-align: right;
    padding: 4px 0;

    input {
      font-size: 10pt;
    }
  }
}

.trash-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  display: none;

  .custum-file-upload {
    /* height: 150px; */
    /* width: 280px; */
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    border: 2px solid #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon svg {
      height: 50px;
      fill: #dc3545;
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      text-wrap: wrap;
      text-align: center;
    }

    .text span {
      font-weight: 400;
      color: rgba(75, 85, 99, 1);
    }

    input {
      display: none;
    }
  }

  .over {
    border-style: dashed;
    border-width: 4px;
  }

  &.show {
    display: flex !important;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .filters-width {
    display: grid;
    gap: 8px;
    width: 150px;
    width: fit-content;

    select {
      align-self: flex-end;
      width: min-content;
      height: 20px;
    }
  }

  form {
    color: #fff;
    background-color: #ffffff1f;
  }
}

.title {
  text-shadow: 0 0 0.2em #09f, 0 0 0.2em #09f, 0 0 0.2em #09f;
}

main {
  /* --container_width: 3.4in; */
  --container_widt_paddign: calc(4in - 2cm);
  --container_width: 4in;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 8px;

  header {
    width: 100%;
    text-align: center;
  }

  .area-de-impresion {
    background-color: rgb(255, 255, 255, 0.35);
    width: var(--container_width);
    height: var(--container_width);
    outline: 3px dashed #8b8b8b;
    outline-offset: -3px;

    position: relative;
    border-radius: 8px;
  }

  .area-de-impresion::before {
    /* content: ''; */
    width: var(--container_widt_paddign);
    height: var(--container_widt_paddign);
    outline: 3px dashed #8b8b8ba6;
    outline-offset: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .area-de-impresion figure:not(.selected),
  .area-de-impresion figure:not(.selected) div:hover,
  .area-de-impresion figure:not(.selected) img:hover,
  .area-de-impresion .texto-plano:not(.selected) p:hover,
  .area-de-impresion .texto-plano:not(.selected) {
    cursor: grab;
    cursor: move;
  }

  figure {
    position: absolute;
  }

  figure.selected {
    overflow: hidden;
    resize: both;
    z-index: 2;
  }

  .codigo-QR {
    --height-text: 21px;

    img {
      width: 100%;
      height: calc(100% - var(--height-text));
    }

    figcaption {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-top: -4px;
      height: var(--height-text);
    }
  }

  .codigo-128 {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .texto-plano {
    width: fit-content;
    height: auto;
    position: absolute;
    z-index: 2;
    outline: 2px solid #000000a4;
    outline-offset: 2px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 8px;

    /* Ajusta el tamaño del texto al 5% del tamaño del padre */
    .texto {
      font-weight: bold;
    }

    &.selected {
      overflow: hidden;
      resize: both;
    }
  }

  .selected {
    outline: 3px dashed #8b8b8b !important;
    outline-offset: 2px !important;
  }

  .dragging {
    transition: transform 0.2s ease;
    /* Añadimos una transición para suavizar el movimiento */
  }
}

footer {
  width: 100%;
  margin-top: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 8px;
}

/* Animaciones */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
